.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3rem;
    width: 50%;
    left: 26rem;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 15px #3f3f3f;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.container h1 {
    color: red;
    margin-bottom: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 3px solid red;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 15px;
}

.info_item {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #92320c;
}

.info div p:last-child {
    color: red;
    font-size: 1.2rem;
}

.rental_info {
    border-top: 1px solid red;
    margin-top: 3rem;
}

.rentals {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
}

.rental_item {
    border-radius: 15px;
    box-shadow: 15px 15px 15px 15px #3f3f3f;
    border: 1px solid red;
    padding: 15px;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    color: rgb(248, 246, 248);
    font-size: 20px;
    font-weight: bolder;
}
.car_info{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
.rental_item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}
.baslık{
    color: red;
}
