
.container{
    height: 100%;
    padding-top: 1.1rem;
    background-color: #65708a;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 10rem 0;

}
.content h1,.content p{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Herr Von Muellerhoff', cursive,sans-serif;
    font-weight: bolder;
    color: rgb(150, 36, 128);
}

.content h1{
    font-size: 8rem;
}
.content p{
    font-size: 3rem;
    padding: 0 0 0 20%;
    color: rgb(150, 36, 128);
}