
header{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

}
.header_content{
    letter-spacing: 5px;
    color: #523820;
    width: 40%;
    position: absolute;
    left: 12%;
    top: 30%;

}
.title{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: bolder;
    font-size: 5rem;
}
.prg{
    font-size: 1rem;
    font-weight: bolder;
}