/*#region RESET CSS CODE*/


/*
  1. use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*text-decoration: none*/
a {
    text-decoration: none;
}

/*list-style-type: none*/
li {
    list-style-type: none;
}

/*
  2. remove default margin
*/
* {
    margin: 0;
}

/*
  3. allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  typographic tweaks!
  4. add accessible line-height
  5. improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  9. create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*#endregion */
nav{

}
.logo img{
    height: 10rem;
    object-fit: cover;
}
.menu a:hover,
.menu a:active,
.menu a.active{
    text-decoration: underline;
    background-color: white;
    border-radius: 15px;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgba(63, 63, 63, 0.5);
    font-family: Poppins, serif;
    font-size: 1.1rem;
    align-items: center;
}

.menu-item a{
    color: #624949;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    padding: 15px 15px;
}