
nav{

}
.logo img{
    height: 10rem;
    object-fit: cover;
}
.menu a:hover,
.menu a:active,
.menu a.active{
    text-decoration: underline;
    background-color: white;
    border-radius: 15px;
}

.menu{
    display: flex;
    justify-content: space-around;
    background-color: rgba(63, 63, 63, 0.5);
    font-family: Poppins, serif;
    font-size: 1.1rem;
    align-items: center;
}

.menu-item a{
    color: #653131;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    padding: 15px 15px;
}